body {
  font-family: "Barlow Condensed", sans-serif !important;
  text-align: center;
  background-color: rgb(64, 223, 175);
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(64, 223, 175);
  text-transform: uppercase;
  margin-bottom: -20px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.title2 {
  color: white;
  font-weight: 600;
}

.text1 {
  color: white;
}

.nav-link {
  transition: color 0.3s ease;
  color: inherit; /* Keeps the original color */
}

.nav-link:hover {
  color: rgb(64, 223, 175); /* Changes to desired color */
}

/* Adjusting the navbars to be more responsive */
.navbar-nav {
  flex-direction: row;
}

/* First Navbar - Flex adjustments */
@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }
  .navbar-nav .nav-item {
    padding: 10px 0;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    font-size: 1.2rem;
  }
}

/* Adjusting the second navbar to be more readable on small screens */
@media (max-width: 767px) {
  .nav-link.display-6 {
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .col-12.col-lg {
    padding: 10px 0;
  }
}
