body {
  font-family: "Lexend", sans-serif;
  text-align: center;
}

.barlow {
  font-family: "Barlow Condensed", sans-serif !important;
  text-align: center;
}

.bold {
  font-weight: 600;
}
.carousel-item img {
  width: 100%; /* Ensures images are responsive */
  height: 300px; /* Fixed height for uniformity */
  object-fit: cover; /* Ensures images fit without distortion */
  border-radius: 10px; /* Optional: Rounded edges */
}
.card-img-top {
  width: 100%; /* Makes images responsive */
  height: 200px; /* Fixed height for uniformity */
  object-fit: cover; /* Ensures images fill the frame without distortion */

  border-radius: 10px; /* Optional: Rounded edges */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.visible {
  opacity: 1;
}

.btn-menu {
  width: 200px;
  background-color: white !important;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: #00ffb3;
  text-transform: uppercase;
  margin-bottom: -20px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.invislink {
  text-decoration: none;
  color: black;
}

.title2 {
  color: #00ffb3;
  font-weight: 600;
}

.text1 {
  color: rgb(0, 0, 0);
}

.nav-link {
  transition: color 0.3s ease;
  color: inherit;
}

.nav-link:hover {
  color: #00ffb3;
}

.navbar-nav {
  flex-direction: row;
}

.rounded {
  border-radius: 40px !important;
}

.sectiondiv {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #00ffb3;
  text-align: center;
  border-radius: 40px;
}

.border-div {
  border-top: 2px solid #00ffb3;
  border-bottom: 2px solid #00ffb3;
  padding: 20px;
  margin-bottom: 50px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 15px;
}

.card-img-top {
  border-bottom: 2px solid #f8f9fa;
  object-fit: cover;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col-12 {
  padding-left: 10px;
  padding-right: 10px;
}
.emblem {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.btn-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
  font-size: 25px;
  text-align: center;
  background-color: #00ffb3;
  border: none;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-brand:hover {
  background-color: #00ffb3;
  border: none;
  color: black;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-brand:active {
  background-color: #00ffb3 !important;
  border: none;
  color: black !important;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-submit {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #00ffb3;
  border: none;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
}

.btn-submit:hover {
  background-color: #00ffb3;
  border: none;
  color: black;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-submit:active {
  background-color: #00ffb3 !important;
  border: none;
  color: black !important;
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.border-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  overflow: hidden;
}

.text-container {
  text-align: center;
  z-index: 1;
  position: relative;
}

.img-container-left,
.img-container-right {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.border-div-img-left {
  width: 125%;
  object-fit: cover;
  height: 100%;

  transform: translateX(-25%);
}

.border-div-img-right {
  width: 150%;
  object-fit: cover;
  height: 100%;

  transform: translateX(25%);
}

.img-container-left {
  padding-right: 10px;
}

.img-container-right {
  padding-left: 10px;
}

.menu-section {
  margin-bottom: 50px;
}

.menu-section h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: #00ffb3;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 15px;
}

.card-img-top {
  border-bottom: 2px solid #f8f9fa;
  object-fit: cover;
}

input,
.form-el {
  width: 20rem;
  border-radius: 5px;
  border: solid 2px #00ffb3;
}

.card {
  border-color: #00ffb3;
}

.card-body {
  height: 200px;
}

@media (min-width: 768px) {
  .col-sm-6 {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    max-width: 33.33%;
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    max-width: 25%;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .card-body {
    height: 250px;
  }
}

@media (max-width: 476px) {
  .card-body {
    height: 270px;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    max-width: 33.33%;
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    max-width: 25%;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }
  .navbar-nav .nav-item {
    padding: 10px 0;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    font-size: 1.2rem;
  }
  .nav-link.display-6 {
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .col-12.col-lg {
    padding: 10px 0;
  }
  .border-div .row {
    flex-direction: column;
    text-align: center;
  }

  .border-div .col-md-6 {
    margin-bottom: 20px;
  }

  .btn-brand {
    margin: 20px auto;
  }
  .col-12.col-sm-6 {
    max-width: 50%;
  }
}
